extends layout

block content

    .quizcont 
        #quiztitle Quiz Title: 
            #quizname #{title}
    
        - var index = 1
        form(method='POST' action='/quizscore')
            each ques in quiz
                .question
                    .questitle Q#{index}. #{ques.ques}
                    br
                    label.optcont #{ques.opt1}
                        if role === "student"
                          input(type='radio', name='q'+index, value='1')
                        span.checkmark 1
                    label.optcont #{ques.opt2}
                        if role === "student"
                          input(type='radio', name='q'+index, value='2')
                        span.checkmark 2
                    label.optcont #{ques.opt3}
                        if role === "student"
                          input(type='radio', name='q'+index, value='3')
                        span.checkmark 3     
                    label.optcont #{ques.opt4}
                        if role === "student"
                          input(type='radio', name='q'+index, value='4')
                        span.checkmark 4
                    - index = index + 1

                    if role !== "student"
                      h5 Explanation : #{ques.explanation}

            input(type="text" name="testing" value=index-1 hidden) 
            input(type="text" name="coursecode" value=`${coursecode}` hidden) 
            input(type="text" name="quizno" value=`${quizno}` hidden)        
            br
            .buttcont
                if role === "student"
                  button.btn.btn-primary(type='submit' style='margin-right: 10px;') Submit Quiz
                  button.btn.btn-light(onclick='goBack()') Cancel
            


    link(rel='stylesheet', href='/stylesheets/attemptquiz.css')

    script.
        $(document).ready(function() {
            $('input[type="radio"]').click(function() {
                $this = $(this);
                $label = $this.parent();
                // first make ALL labels normal
                $label.parent().parent().find('label').css('font-family', 'PN Alt Light');
                $label.parent().parent().find('label').css('background', 'white');
                // then color just THIS one
                $label.css('font-family', 'PN Alt Bold');
                $label.css('background', '#2196F3');
            });
        });

        function goBack() {
            window.history.back();
        }