extends layout


block content
    strong Quiz Title: #{title}
    br
    -var index = 1
    form(method = 'POST' action = '/createquiz')
        each ques in quiz
            h3 Q#{index}. #{ques.ques}
            br
            input(type='radio', name='q1', value='1')
            | &nbsp #{ques.opt1}
            br
            input(type='radio', name='q1', value='2')
            | &nbsp #{ques.opt2}
            br
            input(type='radio', name='q1', value='3')
            | &nbsp #{ques.opt3}
            br
            input(type='radio', name='q1', value='4')
            | &nbsp #{ques.opt4}
            - index = index + 1
                
        br 
        br
        br
        button.btn.btn-primary(type='submit') Submit Quiz
    

