extends layout

block content
  p Welcome #{username}

  nav.navbar.navbar-dark.navbar-expand-sm
    .navbar-header
      img#forum_logo(src="/images/discussion_icon.png" alt="NTU Learning Platform")
      span
      h5.navbar-brand Discussion Forum
    .navbar-text
      h5#filter Search By: Default
    ul.navbar-nav
      // Dropdown
      li.nav-item.dropdown
        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Courses
        .dropdown-menu
          button.dropdown-item(id='cc0' value='Default' onclick="changeFilter(this)") Reset Filter
          button.dropdown-item(id='cc1' value='code1' onclick="changeFilter(this)") Course Code 1
          button.dropdown-item(id='cc2' value='code2' onclick="changeFilter(this)") Course Code 2
          button.dropdown-item(id='cc3' value='code3' onclick="changeFilter(this)") Course Code 3
  br
  table.table
    thead.thead-dark
      tr
        th Title
        th Tags
        th Number of Replies
        th Rating
    tbody#table-records
      each thread in data
        //- tr(data-href='//localhost:3000/main/' + `${thread.t_id}`)
        tr(data-href=`${thread.t_id}` id=`${thread.t_id}`)
          td #{thread.title}
          td #{thread.tags}
          td #{thread.numOfReplies}
          td #{thread.rating}
  br
  br
  br
  form(method = 'GET' action = '/')
      button.btn.btn-primary(type='submit') Log Out
  
  script.

    document.addEventListener('DOMContentLoaded', () => {
      const rows = document.querySelectorAll('tr[data-href]');
      rows.forEach(row => {
        row.addEventListener('click', () => {
          //- window.location.href = row.dataset.href;
          //- console.log(row.id);
          var threadTitle = document.getElementById(row.id).getElementsByTagName('td')[0].innerText;
          toThreadViaPost('/main/' + row.id, {'id': row.id, 'title': threadTitle});
        });
      });
    });

    function toThreadViaPost(path, params, method='post') {

      const form = document.createElement('form');
      form.method = method;
      form.action = path;

      for (const key in params) {
        if (params.hasOwnProperty(key)) {
          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = key;
          hiddenField.value = params[key];

          form.appendChild(hiddenField);
        }
      }

      document.body.appendChild(form);
      form.submit();
    }

    initData();

    function changeFilter(code){
      document.getElementById('filter').innerHTML = 'Search By: ' + code.value;
    }

    function initData(){
      data = "#{data}".split('_');
      data_list = [];
      data.forEach(function(record){
        record = record.split('~');
        forumData = {}

        forumData['id'] = record[0];
        forumData['title'] = record[1];
        forumData['tags'] = record[2].split('+');
        forumData['num_of_replies'] = record[3];
        forumData['rating'] = record[4];

        data_list.push(forumData);
      });

      data_list.forEach(function(record){
        html_string = "<tr>";

        html_string += "<td>" + create_form(record['id'], record['title']) +"</td>";

        html_string += "<td>";
        record['tags'].forEach(function(tag){
          html_string += "<span class= 'badge badge-pill badge-primary'>" + tag + "</span>";
          html_string += "<span></span>";
        });
        html_string += "</td>";

        html_string += "<td>" + record['num_of_replies'] + "</td>";

        html_string += "<td>" + record['rating'] + "</td>";

        html_string += "</tr>";

        $('#table-records').append(html_string);
      });
    }

    function create_form(id, title){
      return "<form method='POST' action='/main/" + id + "'>" +
                "<input type='hidden' name='id' value=" + id + ">" +
                "<input type='hidden' name='title' value='" + title + "'>" +
                "<button type='submit' name='thread_submit' value=" + id + " class='link-button'>" + 
                  title + 
                "</button>" +
            "</form>"
    }

  link(rel='stylesheet', href='/stylesheets/main_page.css')
