extends layout

block content
  h5
    strong Welcome #{username}
  
  form(method = 'POST' action = '/createquiz')
    button.btn.btn-primary(type='submit') New Quiz

  form(method = 'POST' action = '/viewquiz')
    button.btn.btn-primary(type='submit') View Quiz

  form(method = 'POST' action = '/email')
    button.btn.btn-primary(type='submit') Email

  form(method = 'POST' action = '/calendar')
    button.btn.btn-primary(type='submit') Calendar

  br

  nav.navbar.navbar-dark.navbar-expand-sm
    .navbar-header
      img#forum_logo(src="/images/discuss.png" alt="NTU Learning Platform")
      span
      h5.navbar-brand Discussion Forum

    ul.navbar-nav
      form#content(onsubmit='')
        input#search-input.input(type='text')
        button#search-btn.search(type='reset')
      form(method = 'POST' action = '/createthread')
        input(type="hidden" name="username" value=username)
        button.btn.btn-light(type='submit') New Thread
      // Dropdown
      li.nav-item.dropdown
        button.btn.btn-light.dropdown-toggle.coursesbutt(data-toggle="dropdown") Courses
        .dropdown-menu
          button.dropdown-item(id='cc0' value='Default' onclick="changeFilter(this)") Reset Filter
          each coursename in coursecode
            button.dropdown-item(id=`${coursename}` value=`${coursename}` onclick="changeFilter(this)") #{coursename}
            //button.dropdown-item(id='cc2' value='code2' onclick="changeFilter(this)") Course Code 2
  br

  table.table
    thead.headhead
      tr
        th#title Title
        th#latestpost Latest Post
        th#replies Replies
        th#views Views
        //th Rating
      tbody
        each thread in data
          tr(data-href=`${thread["id"]}` id=`${thread["id"]}`)
            td
              - var course = `${thread['coursecode']}`
              case course
                when 'CZ3002'
                  .coursetag(style='background-color: orange') #{thread["coursecode"]}
                when 'CZ3003'
                  .coursetag(style='background-color: green') #{thread["coursecode"]}
                when 'CZ4047'
                  .coursetag(style='background-color: black') #{thread["coursecode"]}
                default
                  .coursetag #{thread["coursecode"]}
              span#titles #{thread["title"]}
              #username #{thread["threadowner"]}
            td 
              // 25/19/2019 00:00:00AM
              - var convertDateTime = function(dt) { return moment(Number(dt)).format('DD MMM YYYY hh:mm A '); }
              - var datetime = convertDateTime(`${thread["dateMod"]}`)
              p#datetime= datetime
              p#replier #{thread["lasteditedby"]}
            td#tdreplies #{thread["noOfReplies"]}
            td#tdviews #{thread["viewcount"]}

  br
  br
  br
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript")
  
  script.

    $('.dropdown-item').click((e)=>{
      //console.log(e.target.value);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/main_page/search", true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({course: e.target.value}));
      window.location.href = '/main';
      return false;
    })

    const input = document.getElementById("search-input");
    const searchBtn = document.getElementById("search-btn");

    const expand = () => {
      searchBtn.classList.toggle("close");
      input.classList.toggle("square");
    };

    searchBtn.addEventListener("click", expand);

    $('#content').submit(function () {
      getSearchInput();
      return false;
    });

    function getSearchInput() {
      var searchinput = document.getElementById('search-input').value;
      //console.log(searchinput);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/main_page/search", true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({value: searchinput}));
      window.location.href = '/main';
      return false;
    }

    function toCourseDropdown(){
      console.log("")
    }

    document.addEventListener('DOMContentLoaded', () => {
      var rows = document.querySelectorAll('tr[data-href]');
      rows.forEach(row => {
        row.addEventListener('click', () => {
          //- window.location.href = row.dataset.href;
          //var threadTitle = document.getElementByNames(row.courseCode);
          //- var threadTitle = document.getElementById(row.id).getElementsByTagName('td')[0].innerText;
          console.log(row);
          var threadTitle = document.getElementById(row.id).getElementsByTagName('span')[0].innerText;
          console.log(threadTitle);
          var courseCode = document.getElementById(row.id).getElementsByTagName('div')[0].innerText;
          console.log(courseCode);
          console.log("Thread : " + threadTitle + " / Course Code : " + courseCode);
          toThreadViaPost('/main/' + row.id, {'id': row.id, 'title': threadTitle, 'coursecode' : courseCode});
        });
      });
    });

    function toThreadViaPost(path, params, method='post') {

      const form = document.createElement('form');
      form.method = method;
      form.action = path;

      for (const key in params) {
        if (params.hasOwnProperty(key)) {
          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = key;
          hiddenField.value = params[key];

          form.appendChild(hiddenField);
        }
      }

      document.body.appendChild(form);
      form.submit();
    }

    function changeFilter(code){
      document.getElementById('search-input').value = "";
    }
    
  link(rel='stylesheet', href='/stylesheets/main_page.css')
