extends layout

block content
  p(styles = {"text-transform": "uppercase"}) 
  strong Welcome #{username}
  
  form(method = 'POST' action = '/createquiz')
    button.btn.btn-primary(type='submit') New Quiz
  
  form(method = 'POST' action = '/votepost')
    button.btn.btn-primary(type='submit') Upvote/Downvote Post

  form(method = 'POST' action = '/editpost')
    button.btn.btn-primary(type='submit') Edit Post

  form(method = 'POST' action = '/deletepost')
    button.btn.btn-primary(type='submit') Delete Post

  form(method = 'POST' action = '/makepost')
    button.btn.btn-primary(type='submit') Make Post

  form(method = 'POST' action = '/viewquiz')
    button.btn.btn-primary(type='submit') View Quiz

  form(method = 'POST' action = '/email')
    button.btn.btn-primary(type='submit') Email

  nav.navbar.navbar-dark.navbar-expand-sm
    .navbar-header
      img#forum_logo(src="/images/discussion_icon.png" alt="NTU Learning Platform")
      span
      h5.navbar-brand Discussion Forum
    .navbar-text
      h5#filter Search By: Default

    ul.navbar-nav
      form(method = 'POST' action = '/createthread')
        button.btn.btn-primary(type='submit') New Thread
      // Dropdown
      li.nav-item.dropdown
        button.btn.btn-primary.dropdown-toggle.coursesbutt(data-toggle="dropdown") Courses
        .dropdown-menu
          button.dropdown-item(id='cc0' value='Default' onclick="changeFilter(this)") Reset Filter
          button.dropdown-item(id='cc1' value='code1' onclick="changeFilter(this)") Course Code 1
          button.dropdown-item(id='cc2' value='code2' onclick="changeFilter(this)") Course Code 2
          button.dropdown-item(id='cc3' value='code3' onclick="changeFilter(this)") Course Code 3
  br
  table.table
    thead.headhead
      tr
        th#title Title
        th#latestpost Latest Post
        th#replies Replies
        th#views Views
        //th Rating
      tbody
        each thread in data
          tr(data-href=`${thread["id"]}` id=`${thread["id"]}`)
            td
              - var course = `${thread['coursecode']}`
              case course
                when 'CZ3002'
                  .coursetag(style='background-color: orange') #{thread["coursecode"]}
                when 'CZ3003'
                  .coursetag(style='background-color: green') #{thread["coursecode"]}
                when 'CZ4047'
                  .coursetag(style='background-color: black') #{thread["coursecode"]}
                default
                  .coursetag #{thread["coursecode"]}
              span#titles #{thread["title"]}
              #username username
            td 
              p#datetime 25 Dec 2019 00:00:00 AM
              p#replier by darien 
            td#tdreplies #{thread["noOfReplies"]}
            td#tdviews 0

  br
  br
  br

  script.

    document.addEventListener('DOMContentLoaded', () => {
      var rows = document.querySelectorAll('tr[data-href]');
      rows.forEach(row => {
        row.addEventListener('click', () => {
          //- window.location.href = row.dataset.href;
          //var threadTitle = document.getElementByNames(row.courseCode);
          //- var threadTitle = document.getElementById(row.id).getElementsByTagName('td')[0].innerText;
          console.log(row);
          var threadTitle = document.getElementById(row.id).getElementsByTagName('span')[0].innerText;
          console.log(threadTitle);
          var courseCode = document.getElementById(row.id).getElementsByTagName('div')[0].innerText;
          console.log(courseCode);
          console.log("Thread : " + threadTitle + " / Course Code : " + courseCode);
          toThreadViaPost('/main/' + row.id, {'id': row.id, 'title': threadTitle, 'coursecode' : courseCode});
        });
      });
    });

    function toThreadViaPost(path, params, method='post') {

      const form = document.createElement('form');
      form.method = method;
      form.action = path;

      for (const key in params) {
        if (params.hasOwnProperty(key)) {
          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = key;
          hiddenField.value = params[key];

          form.appendChild(hiddenField);
        }
      }

      document.body.appendChild(form);
      form.submit();
    }

    function changeFilter(code){
      document.getElementById('filter').innerHTML = 'Search By: ' + code.value;
    }
    
  link(rel='stylesheet', href='/stylesheets/main_page.css')
