extends layout

block content

    .centerDiv

        br
        .profile
        br
        
        h3 
            strong Profile Details 
        br

        h4  Username
        p #{username}

        h4 Date Of Admission 
        p #{DOA}

        h4 Programme 
        p #{Programme}

        h4 Study Year
        p #{StudyYear}

        h4 CGPA
        p #{CGPA}

        h4 Type
        p #{Type}

        h4 Status
        p #{Status}

        h4 Role
        p #{Role}

        br
        h3 Courses Enrolled

        br
        each coursename in coursecode
            p #{coursename}
        br

    link(rel='stylesheet', href='/stylesheets/profile.css')
