extends layout


block content
    .overallcont
        #avaquiz 
            img(src='/svg/tick.svg' style='margin-left: 5px; margin-bottom: 5px;')
            span#avatext Available Quiz
        h1 #{Object.keys(data)} 
        -var index = 0
        -var index1 = 0
        tbody
            each course in data
                .coursecont #{JSON.stringify(Object.keys(data)[index])}
                h2 #{index}
                each quiz in course
                    tr(data-href=`${quiz}` id=`${quiz}`)
                        td       
                            .modcont
                                button.quizcont #{JSON.stringify(Object.keys(course)[index1])}
                                button.content Attempt Quiz
                                button.content View Materials
                                -var index1 = index1 + 1
                -var index = index + 1
                //button.quizcont Quiz2
                //button.content Attempt Quiz
                //button.content View Materials
        .coursecont 
            .modcont CZ4062 - Computer Security
                button.quizcont Quiz1
                button.content Attempt Quiz
                button.content View Materials

                button.quizcont Quiz2
                button.content Attempt Quiz
                button.content View Materials


    link(rel='stylesheet', href='/stylesheets/quiz.css')


    script.
        var quizzes = document.getElementsByClassName('quizcont');
        var i;

        for (i = 0; i < quizzes.length; i++) {
            quizzes[i].addEventListener('click', function() {
                this.classList.toggle('active');
                var content = this.nextElementSibling;
                if (content.style.display === 'block') {
                    content.style.display = 'none';
                } else {
                    content.style.display = 'block';
                }
                var contentnext = content.nextElementSibling;
                if (contentnext.style.display === 'block') {
                    contentnext.style.display = 'none';
                } else {
                    contentnext.style.display = 'block';
                }
            });
        }