extends layout

block content
    .overallcont
        if role === "professor"
          #createquizcont
            form(method = 'POST' action = '/createquiz')
              button.btn.fakebtn(type='submit') Create Quiz  
        #avaquiz 
            img(src='/svg/tick.svg' style='margin-left: 5px; margin-bottom: 8px;')
            if role === "student"
              span#avatext Available Quizzes
            else 
              span#avatext Ongoing Quizzes

            //h1 #{Object.keys(data)} 
        each course, index in data
          //- h1 #{JSON.stringify(Object.keys(data)[`${index}`])} //- WHAT IS THIS FOR? 
          .title #{index}  
          each quiz, index1 in course
            .modcont 
              button.quizcont #{index1}
                form(method='POST', action='/attemptquiz')
                  input(type="hidden" name="coursecode" value = index) 
                  input(type="hidden" name="quizno" value = index1)
                  if role === "student"
                    button.content(type='submit' name='attemptquiz') Attempt Quiz 
                  else 
                    button.content(type='submit' name='attemptquiz') View Quiz
                  button.content View Materials
        br
        if role === "student"
          #avaquiz 
            img(src='/svg/tick.svg' style='margin-left: 5px; margin-bottom: 8px;')
            span#avatext Completed Quizzes
            each course, index in completedquiz
              .title #{index}  
              each completequiz, index1 in course
                .modcont 
                  button.quizcont #{index1}
                  form(method='POST', action='/quizdone')
                    input(type="hidden" name="coursecode" value = index) 
                    input(type="hidden" name="quizno" value = index1)
                    button.content(type='submit' name='completedquiz') View Completed Quiz
                   


    link(rel='stylesheet', href='/stylesheets/quiz.css')


    script.
        var quizzes = document.getElementsByClassName('quizcont');
        var i;

        for (i = 0; i < quizzes.length; i++) {
            quizzes[i].addEventListener('click', function() {
                this.classList.toggle('active');
                var content = this.nextElementSibling;
                if (content.style.display === 'block') {
                    content.style.display = 'none';
                } else {
                    content.style.display = 'block';
                }
                var contentnext = content.nextElementSibling;
                if (contentnext.style.display === 'block') {
                    contentnext.style.display = 'none';
                } else {
                    contentnext.style.display = 'block';
                }
            });
        }