extends layout


block content
    .overallcont
          #createsscont
           form(method = 'POST' action = '/study')
             button.btn.fakebtn(type='submit') Host Study Session  
          #ssquiz 
            img(src='/svg/open-book.svg' style='margin-left: 5px; margin-bottom: 8px; height: 15px; width: 15px; line-height: 15px;')
            span#sstext Study Sessions
          each course, index in data
            .title #{index}  
            each studysession, index1 in course                  
                section.accordion 
                  input(type='checkbox', name='collapse', id='handle'+index+index1)
                  h2.handle
                    label(for='handle'+index+index1) #{studysession["topic"]}
                  .content Hosted by : #{studysession["hostedby"]}
                  .content Location : #{studysession["location"]}
                  .content Date : #{studysession["date"]}
                  .content Time : #{studysession["time"]}
                  .content
                    .buttcont
                      form(method='POST', action='/joinstudysession')
                        input(type="hidden" name="coursecode" value = index) 
                        input(type="hidden" name="studysession" value = index1)
                        input(type="hidden" name="username" value = username)
                        button.btn.fakebtn(type='submit') Join

    link(rel='stylesheet', href='/stylesheets/studysession.css')
