extends layout


block content
    .overallcont
          #createquizcont
           form(method = 'POST' action = '/study')
             button.btn.fakebtn(type='submit') Host Study Session  
          #avaquiz 
            img(src='/svg/tick.svg' style='margin-left: 5px; margin-bottom: 8px;')
            span#avatext Study Sessions
          //h1 #{Object.keys(data)} 
          each course, index in data
            .title #{index}  
            each studysession, index1 in course
              .modcont 
                button.quizcont #{studysession["topic"]}
                  form(method='POST', action='/joinstudysession')
                    button.content Hosted by : #{studysession["hostedby"]}
                    button.content Location : #{studysession["location"]}
                    button.content Time : #{studysession["time"]}
                    button.content Vacancies Left : #{studysession["vacancies"]}
                    //h5 Test for attendees : #{studysession["attendees"]}
                    //if Object.keys((studysession["attendees"])).length !== 0
                      h5 Attendees : #{studysession["attendees"]}
                    input(type="hidden" name="coursecode" value = index) 
                    input(type="hidden" name="studysession" value = index1)
                    input(type="hidden" name="username" value = username)
                    button.content(type='submit') Join this Study Session
                    //button.content(type='submit' name='attemptquiz') View Quiz
        


    link(rel='stylesheet', href='/stylesheets/quiz.css')


    script.
        var quizzes = document.getElementsByClassName('quizcont');
        var i;

        for (i = 0; i < quizzes.length; i++) {
            quizzes[i].addEventListener('click', function() {
                this.classList.toggle('active');
                var content = this.nextElementSibling;
                if (content.style.display === 'block') {
                    content.style.display = 'none';
                } else {
                    content.style.display = 'block';
                }
                var contentnext = content.nextElementSibling;
                if (contentnext.style.display === 'block') {
                    contentnext.style.display = 'none';
                } else {
                    contentnext.style.display = 'block';
                }
            });
        }