extends layout

block content
  .thread-title(align='center')
    h1 #{title}

  .container-fluid#threads
    each post in data
      -var index =post.id
      .row#container_row
        .row#main_row
          .score
            b#score #{post.noOfVotes}
          .vote
            form#up_form(method = 'POST' action = '/votepost')
              input(type="hidden" name="threadid" value=threadid)            
              input#up_button(type="image" src='/images/thumbs_up.png' alt="VoteButton" name="votebutton" value=index+";3")
              //img.float-left#up(src='/images/thumbs_up.png' alt="VoteButton")
            form#down_form(method = 'POST' action = '/votepost')
              input(type="hidden" name="threadid" value=threadid)
              input#down_button(type="image" src='/images/thumbs_down.png' alt="DownvoteButton" name="votebutton" value=index+";4")
              //img#down(src='/images/thumbs_down.png' alt="DownvoteButton")      
          .content
            .row#username_row
              h3 #{post.username}
            .row#content_row
              h5 #{post.content}
          .filler
        .row#extra_row
          .quote
            form.float-left(method = 'POST' action = '/replypost' )
              input(type="hidden" name="threadid" value=threadid)
              input#quote_button(type="image" src='/images/quote.png' alt="ReplyButton" name="returnarrow" value=index+";1")
              //img.float-left#quote(src='/images/quote.png' alt="ReplyButton")
            h5.float-left Quote
          .report
            form.float-left(method = 'POST' action = '/reportpost')
              input(type="hidden" name="threadid" value=threadid)
              input#report_button(type="image" src='/images/report.png' alt="ReportButton" name="reportarrow" value=index+";2")
              //img.float-left#report(src='/images/report.png' alt="ReportButton")
            h5.float-left Report
          .edit
            form.float-left(method = 'POST' action = '/editpost')
              input(type="hidden" name="threadid" value=threadid)
              input#edit_button(type="image" src='/images/edit.png' alt="EditButton" name="editarrow" value=index+";2")
              //img.float-left#edit(src='/images/edit.png' alt="EditButton")
            h5.float-left Edit Post
          .delete
            form.float-left(method = 'POST' action = '/deletepost')
              input(type="hidden" name="threadid" value=threadid)
              input#delete_button(type="image" src='/images/delete-bin.png' alt="DeleteButton" name="deletearrow" value=index+";2")
              //img.float-left#delete(src='/images/delete-bin.png' alt="DeleteButton")
            h5.float-left Delete Post

  br
  .container-fluid#thread_buttons
    .row
      .col-lg-1
        button.btn.btn-primary(type='submit' align='left') Add Reply
      .col-lg-1
        button.btn.btn-primary(type='submit' align='left') Watch this Thread
      .col-lg-10
    .row
      .col-lg-12
        br
        br
        br
    .row
      .col-lg-6
        form(method='GET' action='/main')
          button.btn.btn-primary(type='submit') Return to Main Page
      .col-lg-6
  
  script.

    

  link(rel='stylesheet', href='/stylesheets/thread.css')
