extends layout

block content
  .thread-title(align='center')
    h1 #{title}

  .container-fluid#threads
    each post in data
      -var index =post.id
      .row#container_row
        .row#main_row
          .score
            b#score #{post.noOfVotes}
          .vote
            form#up_form(method = 'POST' action = '/votepost')
              input(type="hidden" name="threadid" value=threadid)  
              input(type="hidden" name="coursecode" value=coursecode)          
              button#up_button(type="submit" name="votebutton" value=index+";3")
                img#up(src='/images/thumbs_up.png' alt="VoteButton")
            form#down_form(method = 'POST' action = '/votepost')
              input(type="hidden" name="threadid" value=threadid)
              input(type="hidden" name="coursecode" value=coursecode)
              button#down_button(type="submit" name="votebutton" value=index+";4")
                img#down(src='/images/thumbs_down.png' alt="DownvoteButton")      
          .content
            .row#username_row
              h3 #{post.username}
            .row#content_row
              h5 #{post.content}
          .filler
        .row#extra_row
          .quote
            form.float-left(method = 'POST' action = '#' )
              input(type="hidden" name="threadid" value=threadid)
              input(type="hidden" name="coursecode" value=coursecode)
              button#quote_button(type="submit" name="returnarrow" value=index+";1")
                img#quote(src='/images/quote.png' alt="ReplyButton")
            h5.float-left Quote
          .report
            form.float-left(method = 'POST' action = '#')
              input(type="hidden" name="threadid" value=threadid)
              input(type="hidden" name="coursecode" value=coursecode)
              button#report_button(type="submit" name="reportarrow" value=index+";2")
                img#report(src='/images/report.png' alt="ReportButton")
            h5.float-left Report
          .edit
            form.float-left(method = 'POST' action = '/editpost')
              input(type="hidden" name="threadid" value=threadid)
              input(type="hidden" name="coursecode" value=coursecode)
              button#edit_button(type="submit" name="editarrow" value=index+";4")
                img#edit(src='/images/edit.png' alt="EditButton")
            h5.float-left Edit Post
          .delete
            form.float-left(method = 'POST' action = '/deletepost')
              input(type="hidden" name="threadid" value=threadid)
              input(type="hidden" name="coursecode" value=coursecode)
              button#delete_button(type="submit" name="deletearrow" value=index+";5")
                img#delete(src='/images/delete-bin.png' alt="DeleteButton")
            h5.float-left Delete Post

  br
  .container-fluid#thread_buttons
    .row
      .add
        button.btn.btn-primary#add-button(type='submit') 
          img.float-left(src="/images/add.png" alt="AddButton")
          img.float-left(src="/images/minus.png" alt="MinusButton")
          h5.float-left Add Reply
      .watch
        button.btn.btn-primary#watch-button(type='submit') 
          img.float-left(src="/images/eye_close.png" alt="UnWatchButton")
          img.float-left(src="/images/eye_open.png" alt="WatchButton")
          h5.float-left Watch
      .filler
      .return
        form(method='GET' action='/main')
          button.btn.btn-light#return-button(type='submit')
            img.float-left(src="/images/return_arrow.png" alt="ReturnButton")
            h5.float-left Return
    .row
      .reply
        form#reply-form(method='POST' action='/makepost')
          input(type="hidden" name="threadid" value=threadid)
          input(type="hidden" name="coursecode" value=coursecode)
          br
          //.form-group#reply-title
            label Title
            input.form-control(type='text' name='title')
          .form-group#reply-content
            label Reply
            textarea.form-control(name='content' placeholder="Write something here...")
          button.btn.btn-primary#confirm-button(type='submit') Confirm

  script.

    $(document).ready(function() {

      $("#add-button").click(function() {
        $("#add-button").toggleClass("btn-light");
        $("#add-button > img:first-child").toggleClass("transparent");
        $("#add-button > img:nth-child(2)").toggleClass("opaque");
        $(".reply > form").toggleClass("opaque");

        if($("#add-button > h5").text() == "Add Reply") {
          $("#add-button > h5").text("Cancel");
          $("#reply-content > textarea").removeAttr("disabled");
          $("#confirm-button").removeAttr("disabled");
        } else {
          $("#add-button > h5").text("Add Reply");

          if($("#reply_quote").length){
            $("#reply_quote").remove();
          }

          $("#reply-content > textarea").val("");
          $("#reply-content > textarea").attr("disabled", "true");
          $("#confirm-button").attr("disabled", "true");
        }
      });

      $(".quote").click(function() {
        $("#add-button").addClass("btn-light");
        $("#add-button > img:first-child").addClass("transparent");
        $("#add-button > img:nth-child(2)").addClass("opaque");
        $("#add-button > h5").text("Cancel");

        if(!$("#reply_quote").length){
          var quote_text = $($($($($($(this).parent().get(0)).parent().get(0)).children().get(0)).children().get(2)).children().get(0)).text() + " - " + $($($($($($(this).parent().get(0)).parent().get(0)).children().get(0)).children().get(2)).children().get(1)).text();
          $("#reply-content > label").before("<div id='reply_quote' class='form-group'><label>Quoting</label><img id='close_quote' src='/images/cancel.png'><textarea id='quote_text' class='form-control' type='text' name='quote' disabled>" + quote_text + "</textarea><br/></div>");
          
          $("#close_quote").click(function() {
            $("#reply_quote").remove();
          });
        } else {
          var quote_text = $($($($($($(this).parent().get(0)).parent().get(0)).children().get(0)).children().get(2)).children().get(0)).text() + " - " + $($($($($($(this).parent().get(0)).parent().get(0)).children().get(0)).children().get(2)).children().get(1)).text();
          $("#quote_text").val(quote_text);
        }
        
        $(".reply > form").addClass("opaque");
        $("#reply-content > textarea").removeAttr("disabled");
        $("#confirm-button").removeAttr("disabled");
      });

      

      $("#watch-button").click(function() {
        $("#watch-button").toggleClass("btn-light");
        $("#watch-button > img:first-child").toggleClass("transparent");
        $("#watch-button > img:nth-child(2)").toggleClass("opaque");

        if($("#watch-button > h5").text() == "Watch") {
          $("#watch-button > h5").text("Stop");
        } else {
          $("#watch-button > h5").text("Watch");
        }
      });
    });

  link(rel='stylesheet', href='/stylesheets/thread.css')
