extends layout

block content
  .thread-title(align='center')
    h1 #{title}

  .container-fluid#threads
    each post in data
      -var index =post.id
      .row#container_row
        .row#main_row
          .score
            b#score #{post.noOfVotes}
          .vote
            form#up_form(method = 'POST' action = '/votepost')
              input(type="hidden" name="threadid" value=threadid)  
              input(type="hidden" name="coursecode" value=coursecode)          
              button#up_button(type="submit" name="votebutton" value=index+";3")
                img#up(src='/images/thumbs_up.png' alt="VoteButton")
            form#down_form(method = 'POST' action = '/votepost')
              input(type="hidden" name="threadid" value=threadid)
              input(type="hidden" name="coursecode" value=coursecode)
              button#down_button(type="submit" name="votebutton" value=index+";4")
                img#down(src='/images/thumbs_down.png' alt="DownvoteButton")      
          .content
            .row#username_row
              h3 #{post.username}
              if post.username == "admin"
                img(src='/images/user1.png')
              else if post.username == "admin1"
                img(src='/images/user2.png')
              else if post.username == "admin2"
                img(src='/images/user3.png')
              else
                img(src='/images/user4.png')
            if post.quote
              .quote_wrapper
                .row#quote_owner
                  p #{post.quote.quote_owner}
                .row#quote_content
                  p #{post.quote.quote_content}
            .row#content_row
              h5 #{post.content}
          .filler
        .row.extra_row#extra_row
          .quote
            button#quote_button(type="submit" name="returnarrow" value=index+";1")
              img.float-left#quote(src='/images/quote.png' alt="ReplyButton")
              h5.float-left Quote
          .report
            form.cont(method='POST' action='/email')
              input(type="hidden" name="threadid" value=threadid)
              input(type="hidden" name="coursecode" value=coursecode)
              input(type="hidden" name="username" value=post.username)
              input(type="hidden" name="postcontent" value=post.content)
              button#report_button(type="submit" name="reportarrow" value=index+";2" onclick= "reportPost()")
                img.float-left#report(src='/images/report.png' alt="ReportButton")
                h5.float-left Report
          .edit
            button#edit_button(type="submit")
              img.float-left#edit(src='/images/edit.png' alt="EditButton")
              h5.float-left Edit Post
          .delete
            form.float-left(method = 'POST' action = '/deletepost')
              input(type="hidden" name="threadid" value=threadid)
              input(type="hidden" name="coursecode" value=coursecode)
              button#delete_button(type="submit" name="deletearrow" value=index+";5")
                img.float-left#delete(src='/images/delete-bin.png' alt="DeleteButton")
                h5.float-left Delete Post
        .row.edit_row#edit_row
          h3 Editing Post
          form.float-left(method = 'POST' action = '/editpost')
            input(type="hidden" name="threadid" value=threadid)
            input(type="hidden" name="coursecode" value=coursecode)
            input(type="hidden" name="editarrow" value=index+";4")
            .row#edit_username_row
              h3 #{post.username}
            if post.quote
              .edit_quote_wrapper
                .row#edit_quote_owner
                  p #{post.quote.quote_owner}
                .row#edit_quote_content
                  p #{post.quote.quote_content}
              input(type="hidden" name="quote" value="true")
              input(type="hidden" name="quote_owner" value=post.quote.quote_owner)
              input(type="hidden" name="quote_content" value=post.quote.quote_content)
            else
              input(type="hidden" name="quote" value="false")
              input(type="hidden" name="quote_owner" value="")
              input(type="hidden" name="quote_content" value="")
            .row#edit_content_row
              textarea.form-control(name='content') #{post.content}
            button.btn.btn-primary.edit_confirm_button(type='button') Confirm
            button.btn.btn-light(type='button') Cancel
  br
  .container-fluid#thread_buttons
    .row
      .add
        button.btn.btn-primary#add-button(type='submit') 
          img.float-left(src="/images/add.png" alt="AddButton")
          img.float-left(src="/images/minus.png" alt="MinusButton")
          h5.float-left Add Reply
      .bookmark
        button.btn.btn-primary#bookmark-button(type='submit') 
          img.float-left(src="/images/add_bookmark.png" alt="UnWatchButton")
          img.float-left(src="/images/remove_bookmark.png" alt="WatchButton")
          h5.float-left Bookmark
      .filler
      .return
        form(method='GET' action='/main')
          button.btn.btn-light#return-button(type='submit')
            img.float-left(src="/images/return_arrow.png" alt="ReturnButton")
            h5.float-left Return
    .row
      .reply
        form#reply-form(method='POST' action='/makepost')
          input(type="hidden" name="threadid" value=threadid)
          input(type="hidden" name="coursecode" value=coursecode)
          input(type="hidden" name="quote" value="")
          input(type="hidden" name="quote_owner" value="")
          input(type="hidden" name="quote_content" value="")
          br
          .form-group#reply-content
            label Reply
            textarea.form-control(name='content' placeholder="Write something here...")
          button.btn.btn-primary#confirm-button(type='button') Confirm
    br

  script.

    $(document).ready(function() {
      $(".row#edit_row").hide();

      $(".quote").click(function() {
        $.each($(".row#edit_row"), function(){
          if($(this).children("form").children("#edit_reply_quote").length) {
            $(this).children("form").children("#edit_reply_quote").remove();
          }
        });

        var isEditing = false;
        var edit_row = null;
        $.each($(".row#edit_row"), function(){
          if(!$(this).is(":hidden")) {
            edit_row = $(this);
            isEditing = true;
          }
        });

        if(isEditing) { // If in Edit Post Context
          var quote_owner = $(this).parent().parent().children().children(".content").children("#username_row").text();
          var quote_content = $(this).parent().parent().children().children(".content").children("#content_row").text();
          var quote_text =  quote_owner + " - " + quote_content;
          
          // If Post already has a Quote
          if(edit_row.children("form").children(".edit_quote_wrapper").length) {
            $(edit_row.children("form").children().get(5)).val("true");
            $(edit_row.children("form").children().get(6)).val(quote_owner);
            $(edit_row.children("form").children().get(7)).val(quote_content);
            edit_row.children("form").children("#edit_content_row").before("<div id='edit_reply_quote' class='form-group'><label>Quoting</label><img id='close_quote' src='/images/cancel.png'><input id='edit_quote_owner' type='hidden' value='" + quote_owner + "'><input id='edit_quote_content' type='hidden' value='" + quote_content + "'><textarea id='edit_quote_text' class='form-control' type='text' name='quote' disabled>" + quote_text + "</textarea><br/></div>");
            $("#close_quote").click(function() {
              $("#edit_reply_quote").remove();
            });
          } else { // If Post originally has no Quote
            $(edit_row.children("form").children().get(4)).val("true");
            $(edit_row.children("form").children().get(5)).val(quote_owner);
            $(edit_row.children("form").children().get(6)).val(quote_content);
            edit_row.children("form").children("#edit_content_row").before("<div id='edit_reply_quote' class='form-group'><label>Quoting</label><img id='close_quote' src='/images/cancel.png'><input id='edit_quote_owner' type='hidden' value='" + quote_owner + "'><input id='edit_quote_content' type='hidden' value='" + quote_content + "'><textarea id='edit_quote_text' class='form-control' type='text' name='quote' disabled>" + quote_text + "</textarea><br/></div>");
            $("#close_quote").click(function() {
              $("#edit_reply_quote").remove();
            });
          }
        } else { // If not in Edit Post Context
          $($(this).parent().next().children("form").children().get(4)).val("false");
          $($(this).parent().next().children("form").children().get(5)).val("");
          $($(this).parent().next().children("form").children().get(6)).val("");

          $("#add-button").addClass("btn-light");
          $("#add-button > img:first-child").addClass("transparent");
          $("#add-button > img:nth-child(2)").addClass("opaque");
          $("#add-button > h5").text("Cancel");

          if(!$("#reply_quote").length){
            var quote_owner = $(this).parent().parent().children().children(".content").children("#username_row").text();
            var quote_content = $(this).parent().parent().children().children(".content").children("#content_row").text();
            var quote_text = quote_owner + " - " + quote_content;
            $("#reply-content > label").before("<div id='reply_quote' class='form-group'><label>Quoting</label><img id='close_quote' src='/images/cancel.png'><input id='confirm_quote_owner' type='hidden' value='" + quote_owner + "'><input id='confirm_quote_content' type='hidden' value='" + quote_content + "'><textarea id='quote_text' class='form-control' type='text' name='quote' disabled>" + quote_text + "</textarea><br/></div>");
            
            $("#close_quote").click(function() {
              $("#reply_quote").remove();
            });
          } else {
            var quote_owner = $(this).parent().parent().children().children(".content").children("#username_row").text();
            var quote_content = $(this).parent().parent().children().children(".content").children("#content_row").text();
            var quote_text = quote_owner + " - " + quote_content;
            $("#reply_quote").children("#confirm_quote_owner").val(quote_owner);
            $("#reply_quote").children("#confirm_quote_content").val(quote_content);
            $("#quote_text").val(quote_text);
          }
          
          $(".reply > form").addClass("opaque");
          $("#reply-content > textarea").removeAttr("disabled");
          $("#confirm-button").removeAttr("disabled");
        }
      });

      $(".report").click(function() {
        alert("Report sent to System Administrator.");
      });

      $(".edit").click(function() {
        $(".edit_row").hide();
        $(".extra_row").show();

        if($("#add-button > h5").text() == "Cancel") {
          $("#add-button").toggleClass("btn-light");
          $("#add-button > img:first-child").toggleClass("transparent");
          $("#add-button > img:nth-child(2)").toggleClass("opaque");
          $(".reply > form").toggleClass("opaque");
          $("#add-button > h5").text("Add Reply");
          if($("#reply_quote").length){
            $("#reply_quote").remove();
          }
          $("#reply-content > textarea").val("");
          $("#reply-content > textarea").attr("disabled", "true");
          $("#confirm-button").attr("disabled", "true");
        }
        
        $(this).parent().hide();
        $(this).parent().next().show();
        
        if($(this).parent().next().children("form").children(".edit_quote_wrapper").length) {
          if(!$(this).parent().next().children("form").children("#edit_reply_quote").length) {

            $(this).parent().next().children("form").children(".edit_quote_wrapper").hide();
            var quote_text = $(this).parent().next().children("form").children(".edit_quote_wrapper").children("#edit_quote_owner").text() + " - " + $(this).parent().next().children("form").children(".edit_quote_wrapper").children("#edit_quote_content").text();
            $(this).parent().next().children("form").children("#edit_content_row").before("<div id='edit_reply_quote' class='form-group'><label>Quoting</label><img id='close_quote' src='/images/cancel.png'><textarea id='edit_quote_text' class='form-control' type='text' name='quote' disabled>" + quote_text + "</textarea><br/></div>");
          
            $("#close_quote").click(function() {
              if($(this).parent().parent().children(".edit_quote_wrapper").length) {
                $($(this).parent().parent().children().get(5)).val("false");
                $($(this).parent().parent().children().get(6)).val("");
                $($(this).parent().parent().children().get(7)).val("");
              } else {
                $($(this).parent().parent().children().get(4)).val("false");
                $($(this).parent().parent().children().get(5)).val("");
                $($(this).parent().parent().children().get(6)).val("");
              }
              $("#edit_reply_quote").remove();
            });
          }
        }
      });

      $(".row#edit_row > form > .btn-light").click(function() {
        $(this).parent().parent().hide();
        if($(".edit_quote_wrapper").length) {
          $(this).parent().children("#edit_reply_quote").remove();
        }
        $(this).parent().parent().parent().children(".row#extra_row").show();
      });

      $("#add-button").click(function() {
        $(".edit_row").hide();
        $(".extra_row").show();
        $.each($(".row#edit_row"), function(){
          if($(this).children("form").children("#edit_reply_quote").length) {
            $(this).children("form").children("#edit_reply_quote").remove();
          }
        });

        $("#add-button").toggleClass("btn-light");
        $("#add-button > img:first-child").toggleClass("transparent");
        $("#add-button > img:nth-child(2)").toggleClass("opaque");
        $(".reply > form").toggleClass("opaque");

        if($("#add-button > h5").text() == "Add Reply") {
          $("#add-button > h5").text("Cancel");
          $("#reply-content > textarea").removeAttr("disabled");
          $("#confirm-button").removeAttr("disabled");
        } else {
          $("#add-button > h5").text("Add Reply");

          if($("#reply_quote").length){
            $("#reply_quote").remove();
          }

          $("#reply-content > textarea").val("");
          $("#reply-content > textarea").attr("disabled", "true");
          $("#confirm-button").attr("disabled", "true");
        }
      });

      $("#bookmark-button").click(function() {
        $("#bookmark-button").toggleClass("btn-light");
        $("#bookmark-button > img:first-child").toggleClass("transparent");
        $("#bookmark-button > img:nth-child(2)").toggleClass("opaque");

        if($("#bookmark-button > h5").text() == "Bookmark") {
          $("#bookmark-button > h5").text("Remove");
        } else {
          $("#bookmark-button > h5").text("Bookmark");
        }
      });
      
      $(".edit_confirm_button").click(function() {
        console.log("Edit Confirm");

        if($(this).parent().children("#edit_reply_quote").length) {
          if($(this).parent().children(".edit_quote_wrapper").length) {
            var quote_owner = $($(this).parent().children().get(6)).val();
            var quote_content = $($(this).parent().children().get(7)).val();

            $($(this).parent().children().get(5)).val("true");
            $($(this).parent().children().get(6)).val(quote_owner);
            $($(this).parent().children().get(7)).val(quote_content);
            $(this).parent().get(0).submit();
          } else {
            var quote_owner = $($(this).parent().children().get(5)).val();
            var quote_content = $($(this).parent().children().get(6)).val();

            $($(this).parent().children().get(4)).val("true");
            $($(this).parent().children().get(5)).val(quote_owner);
            $($(this).parent().children().get(6)).val(quote_content);
            $(this).parent().get(0).submit();
          }          
        } else {
          $($(this).parent().children().get(5)).val("false");
          $($(this).parent().children().get(6)).val("");
          $($(this).parent().children().get(7)).val("");
          $(this).parent().get(0).submit();
        }
      });
      
      $("#confirm-button").click(function() {
        console.log("Confirm");
        if($(this).parent().children("#reply-content").children("#reply_quote").length) {
          var reply_quote = $(this).parent().children("#reply-content").children("#reply_quote");
          var quote_owner = reply_quote.children("#confirm_quote_owner").val();
          var quote_content = reply_quote.children("#confirm_quote_content").val();
          $($(this).parent().children().get(2)).val("true");
          $($(this).parent().children().get(3)).val(quote_owner);
          $($(this).parent().children().get(4)).val(quote_content);
          $(this).parent().get(0).submit();
        } else {
          $($(this).parent().children().get(2)).val("false");
          $($(this).parent().children().get(3)).val("");
          $($(this).parent().children().get(4)).val("");
          $(this).parent().get(0).submit();
        }
      });
    });

  link(rel='stylesheet', href='/stylesheets/thread.css')
