extends layout

block content
  .thread-title(align='center')
    h1 #{title}

  .container-fluid#threads
    each post in data
      -var index =post.id
      .row#container_row
        .row#main_row
          .score
            b#score #{post.noOfVotes}
          .vote
            form#up_form(method = 'POST' action = '/votepost')
              input(type="hidden" name="threadid" value=threadid)            
              button#up_button(type="submit" name="votebutton" value=index+";3")
                img#up(src='/images/thumbs_up.png' alt="VoteButton")
            form#down_form(method = 'POST' action = '/votepost')
              input(type="hidden" name="threadid" value=threadid)
              button#down_button(type="submit" name="votebutton" value=index+";4")
                img#down(src='/images/thumbs_down.png' alt="DownvoteButton")      
          .content
            .row#username_row
              h3 #{post.username}
            .row#content_row
              h5 #{post.content}
          .filler
        .row#extra_row
          .quote
            form.float-left(method = 'POST' action = '#' )
              input(type="hidden" name="threadid" value=threadid)
              button#quote_button(type="submit" name="returnarrow" value=index+";1")
                img#quote(src='/images/quote.png' alt="ReplyButton")
            h5.float-left Quote
          .report
            form.float-left(method = 'POST' action = '#')
              input(type="hidden" name="threadid" value=threadid)
              button#report_button(type="submit" name="reportarrow" value=index+";2")
                img#report(src='/images/report.png' alt="ReportButton")
            h5.float-left Report
          .edit
            form.float-left(method = 'POST' action = '#')
              input(type="hidden" name="threadid" value=threadid)
              button#edit_button(type="submit" name="editarrow" value=index+";2")
                img#edit(src='/images/edit.png' alt="EditButton")
            h5.float-left Edit Post
          .delete
            form.float-left(method = 'POST' action = '#')
              input(type="hidden" name="threadid" value=threadid)
              button#delete_button(type="submit" name="deletearrow" value=index+";2")
                img#delete(src='/images/delete-bin.png' alt="DeleteButton")
            h5.float-left Delete Post

  br
  .container-fluid#thread_buttons
    .row
      .add
        button.btn.btn-primary#add-button(type='submit') 
          img.float-left(src="/images/add.png" alt="AddButton")
          img.float-left(src="/images/minus.png" alt="MinusButton")
          h5.float-left Add Reply
      .watch
        button.btn.btn-primary#watch-button(type='submit') 
          img.float-left(src="/images/watch.png" alt="WatchButton")
          h5.float-left Watch
      .filler
      .return
        form(method='GET' action='/main')
          button.btn.btn-light#return-button(type='submit')
            img.float-left(src="/images/return_arrow.png" alt="ReturnButton")
            h5.float-left Return
    .row
      .reply
        form#reply-form(method='POST' action='#')
          br
          .form-group#reply-title
            label Title
            input.form-control(type='text' name='title')
          .form-group#reply-content
            label Content
            textarea.form-control(type='textarea' name='content')
          button.btn.btn-primary#confirm-button(type='submit') Confirm

  script.

    $(document).ready(function() {

      $("#add-button").click(function() {
        $("#add-button > img:first-child").toggleClass("transparent");
        $("#add-button > img:nth-child(2)").toggleClass("opaque");
        $(".reply > form").toggleClass("opaque");

        if($("#add-button > h5").text() == "Add Reply") {
          $("#add-button > h5").text("Cancel");
          $("#reply-title > input").removeAttr("disabled");
          $("#reply-content > textarea").removeAttr("disabled");
          $("#reply-content > textarea").removeAttr("disabled");
          $("#confirm-button").removeAttr("disabled");
        } else {
          $(".reply > form").attr("height", "0");
          $("#add-button > h5").text("Add Reply");
          $("#reply-title > input").text("");
          $("#reply-content > textarea").text("");
          $("#reply-title > input").attr("disabled", "true");
          $("#reply-content > textarea").attr("disabled", "true");
          $("#confirm-button").attr("disabled", "true");
        }
      });

      $(".quote").click(function() {
        $("#add-button > img:first-child").addClass("transparent");
        $("#add-button > img:nth-child(2)").addClass("opaque");
        $("#add-button > h5").text("Cancel");
        
        $(".reply > form").addClass("opaque");
        $("#reply-title > input").removeAttr("disabled");
        $("#reply-content > textarea").removeAttr("disabled");
        $("#confirm-button").removeAttr("disabled");

        $("#reply-content > textarea").text($($($($($($(this).parent().get(0)).parent().get(0)).children().get(0)).children().get(2)).children().get(0)).text() + " - " + $($($($($($(this).parent().get(0)).parent().get(0)).children().get(0)).children().get(2)).children().get(1)).text());
        console.log($($($($($($(this).parent().get(0)).parent().get(0)).children().get(0)).children().get(2)).children().get(0)).text());
      });
    });

  link(rel='stylesheet', href='/stylesheets/thread.css')
